.nav-logo {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.nav-logo-container {
}

body.position-exercise {
	background-image: url("../images/outerspace_landscape.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

nav {
	background-color: #808080;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0.5% 60px;
}

.display-inline {
	display: inline-block;
}

li.display-inline :after {
	content: ' |';
}

.cat, .dog {
	position: absolute;
	width: 200px;
	height: 200px;
}

.cat {
	left: -100px;
	top: -100px;
}

.dog {
	left: 500px;
	top: 200px;
}

main {
	text-align: center;
}

.green-box {
	border: 10px dotted #224408;
	position: relative;
	margin-top: 200px;
	width: 600px;
	height: 300px;
	display: inline-block;
}
